/************************
ARTISITS
*************************/

.artists {
  ul {
    width: 360px;
    position: relative;
    left: 50%;
    margin: 50px 0 0 -180px;
    li {
      position: relative;
      left: 50%;
      margin-left: -140px;
    }
  }
  p {
    color: #999999;
    font-size: 16px;
    line-height: 2;
    font-weight: 400;
    letter-spacing: normal;
    display: inline;
  }
  a {
    p {
      text-align: center;
    }
    .blue-link {
      color: #5cc3f6;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.large-icon {
  position: relative;
  left: 50%;
  margin-left: -60px;
  height: 100px;
}

.no-results {
  display: none;
  padding-top: 4em;
  padding-bottom: 4em;
  margin-top: 4.44444em;
  margin-bottom: 2em;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}

.artists > div {
  position: relative;
  left: 50%;
  margin: 110px 0 0 -150px;
}


