/************************
HOME PAGE SEARCH
*************************/

.form {
  padding: 0 0 100px;
  background: #000;
  color: #CCC;
  text-align: center;
  font-weight: 100;
  form {
    position: absolute;
    left: 50%;
    margin-left: -140px;
    width: 280px;
  }
}
