/************************
TYPOGRAPHY
*************************/

h1 {
  position: absolute;
  color: #FFF;
  font-weight: 100;
  margin: auto;
  vertical-align: middle;
}

p {
  color: #CCC;
  font-size: 18px;
  line-height: 1.45;
  font-weight: 200;
}


