<section id="sonorousapp">
    <section class="banner">
        <img src="/img/banner-img.jpg">
    	<h1>Sonorous</h1>
    </section>

	<section class="copy">
		<p>Search and discover homegrown artist from near you.</p>
	</section>

    <section class="form">
    	<form action="">
    	    <label for="get-location">Enter a city:</label><br />
    	    <input id="get-location" type="text"><br />
    	    <button class="button">Discover</button>
    	</form>
    </section>

    {{outlet}}
</section>