<section id="sonorousapp">
    <section class="banner">
        <img src="/img/banner-img.jpg">
    	{{#link-to 'sonorous'}}<h1>Sonorous</h1>{{/link-to}}
    </section>

	<section class="copy">
		<p>Search and discover homegrown artists by state, filtered by genre.</p>
	</section>

  {{outlet}}

</section>