<nav class="fixed-nav-bar">
 {{#link-to 'sonorous'}}<h1>Sonorous</h1>{{/link-to}}
</nav>
<section id="sonorousapp">
  <section class="banner" aria-hidden="true">
    <img src="/img/banner-img.jpg">
  </section>

  <section class="copy">
    <p>Search and discover homegrown artists by state, filtered by genre.</p>
  </section>

  {{outlet}}

</section>