<section id="sonorousapp">
    <section class="banner">
        <img src="/img/banner-img.jpg">
    	<h1>Sonorous</h1>
    </section>

	<section class="copy">
		<p>Search and discover homegrown artists from any state, filtered by genre.</p>
	</section>

  {{outlet}}

</section>