<section id="sonorousapp">
    <section class="banner">
        <img src="/img/banner-img.jpg">
    	<h1>Sonorous</h1>
    </section>

	<section class="copy">
		<p>Search and discover homegrown artists<br />
    by state that play the sounds you like.</p>
	</section>



    {{outlet}}
</section>