{{outlet}}

<section class="section-container artists">
<img class="large-icon" src="/img/music-tiles/country-grey.svg" aria-hidden="true">
  <div class="no-results">
    <p>Sorry, your search returned no results.</p>
  </div>
  <ul>
    {{#each artist in filteredArtists}}
    <li>
      <a class="learn-more" href="{{artist.urls.mb_url}}">
        <p><span class="blue-link">Learn more about: </span>{{artist.name}}</p>
      </a>
    </li>
    {{/each}}
  </ul>
</section>