{{outlet}}

<section class="section-container artists">
  <ul>
    {{#each artist in model}}
    <li><p>{{artist.name}} </p><a href=""><span class="learn-more">Learn more</span> 〉</a></li>
    {{/each}}
  </ul>
</section>