{{outlet}}

<section class="section-container">
  <div class="column">
    <div class="tile">
      {{#link-to 'jazz'}}
      <img src="/img/music-tiles/jazz-grey.svg" alt="">
      <p>jazz</p>
      {{/link-to}}
    </div>
  </div>

  <div class="column">
    <div class="tile">
      {{#link-to 'rock'}}
      <img src="/img/music-tiles/rock-grey.svg" alt="">
      <p>rock</p>
      {{/link-to}}
    </div>
  </div>

  <div class="column">
    <div class="tile">
      {{#link-to 'pop'}}
      <img src="/img/music-tiles/pop-grey.svg" alt="">
      <p>pop</p>
      {{/link-to}}
    </div>
  </div>

  <div class="column">
    <div class="tile">
      {{#link-to 'folk'}}
      <img src="/img/music-tiles/folk-grey.svg" alt="">
      <p>folk</p>
      {{/link-to}}
    </div>
  </div>

  <div class="column">
    <div class="tile">
      {{#link-to 'latin'}}
      <img src="/img/music-tiles/latin-grey.svg" alt="">
      <p>latin</p>
      {{/link-to}}
    </div>
  </div>

  <div class="column">
    <div class="tile country">
      {{#link-to 'country'}}
      <img src="/img/music-tiles/country-grey.svg" alt="">
      <p>country</p>
      {{/link-to}}
    </div>
  </div>
</section>
