{{outlet}}

<section class="section-container">
  <div class="column">
    <div class="tile">
      {{#link-to 'jazz'}}
      <img src="/img/music-tiles/jazz-grey.svg" alt="jazz icon">
      <p>jazz</p>
      {{/link-to}}
    </div>
  </div>

  <div class="column">
    <div class="tile">
      {{#link-to 'rock'}}
      <img src="/img/music-tiles/rock-grey.svg" alt="rock icon">
      <p>rock</p>
      {{/link-to}}
    </div>
  </div>

  <div class="column">
    <div class="tile">
      {{#link-to 'pop'}}
      <img src="/img/music-tiles/pop-grey.svg" alt="pop icon">
      <p>pop</p>
      {{/link-to}}
    </div>
  </div>

  <div class="column">
    <div class="tile">
      {{#link-to 'folk'}}
      <img src="/img/music-tiles/folk-grey.svg" alt="folk icon">
      <p>folk</p>
      {{/link-to}}
    </div>
  </div>

  <div class="column">
    <div class="tile">
      {{#link-to 'latin'}}
      <img src="/img/music-tiles/latin-grey.svg" alt="latin icon">
      <p>latin</p>
      {{/link-to}}
    </div>
  </div>

  <div class="column">
    <div class="tile country">
      {{#link-to 'country'}}
      <img src="/img/music-tiles/country-grey.svg" alt="country grey">
      <p>country</p>
      {{/link-to}}
    </div>
  </div>
</section>
