<h2>what sounds do you like?</h2>

<section id="main">
    <ul id="genre-list">
        <li>
            <input type="checkbox" class="toggle">
            <label>jazz</label>
        </li>
    </ul>
</section>

<ul>
  {{#each artist in model}}
    <li>{{artist.name}}</li>
  {{/each}}
</ul>