<h2>what sounds do you like?</h2>

<section id="main">
    <ul id="genre-list">
        <li>
            <input type="checkbox" class="toggle">
            <label>country</label>
        </li>
        <li>
            <input type="checkbox" class="toggle">
            <label>dance</label>
        </li>
    </ul>
</section>
